<ngx-loading [show]="api.loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container" style="text-align: center;" *ngIf="country">
  <div class="row">
    <div class="col-md-2">
      <button routerLink="/" style="margin: 20px 0px 0px 0px; background-color: transparent;"  class="custom"><i class="fas fa-arrow-left fa-2x"></i>
      </button>
    </div>
    <div class="col-md-6 offset-md-1 mt-5">
      <h1>{{country['country_name']}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Total Cases:</h1>
      <h1>{{country['cases']}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
     <h1>New Cases:</h1>
     <h1>{{country['new_cases']}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>New Deaths:</h1>
      <h1>{{country['new_deaths']}}</h1>
    </div>
  </div>
</div>
