h1{
  color: #1A3503;
  text-shadow: -2px 0 #77C02F, 0 2px #77C02F, 2px 0 #77C02F, 0 -2px #77C02F;
}
i{
  color: #1A3503;
  text-shadow: -2px 0 #77C02F, 0 2px #77C02F, 2px 0 #77C02F, 0 -2px #77C02F;
}
