/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url('./assets/canva.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.custom {
  font-size: 26px;
  border: none;
  border-radius: 5px;
  background-color: #1A3503;
  color: #77C02F;
  opacity: 0.75;
  padding: 10px;
}
.custom:hover {
  opacity: 1;
  color: #77C02F;
}

